/quoco-ws/girlpower/target/
/quoco-ws/auldfellas/target/
/quoco-ws/broker/target/
/quoco-ws/client/target/
/quoco-ws/core/target/
/quoco-ws/dodgydrivers/target/

/quoco-rmi/girlpower/target/
/quoco-rmi/auldfellas/target/
/quoco-rmi/broker/target/
/quoco-rmi/client/target/
/quoco-rmi/core/target/
/quoco-rmi/dodgydrivers/target/

/quoco-rest/girlpower/target/
/quoco-rest/auldfellas/target/
/quoco-rest/broker/target/
/quoco-rest/client/target/
/quoco-rest/core/target/
/quoco-rest/dodgydrivers/target/

/quoco-jms/girlpower/target/
/quoco-jms/auldfellas/target/
/quoco-jms/broker/target/
/quoco-jms/client/target/
/quoco-jms/core/target/
/quoco-jms/dodgydrivers/target/

/quoco-akka/girlpower/target/
/quoco-akka/auldfellas/target/
/quoco-akka/broker/target/
/quoco-akka/client/target/
/quoco-akka/core/target/
/quoco-akka/dodgydrivers/target/